body{
    background-color: #D7BDE2;
}
h1{
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 7% 36% 3%;
}
#txt{
    margin: 0% 27%;
    width: 600px;
    height: 350px;
    border: #961683;
    border-width: 6px;
    border-radius: 4px;
}
p{
    color: #6D32A8;
    font-size: small;
    margin-left: 40%;
    margin-top: 1%;
}
.btn{
        background-color:#ACDFB3;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        margin-top: 1%;
        margin-left: 43%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
}
